NODE_ENV=production
PORT=3071
HOST=127.0.0.1
NITRO_PRESET=node-server
VITE_SITE_URL=https://ronaldoleaonutri.online

APP_NAME=ronaldoleaonutri
APP_DOMAIN=ronaldoleaonutri.online
APP_DIR=/home/ronaldoleaonutri/htdocs/ronaldoleaonutri.online
APP_PM2_NAME=ronaldoleaonutri

VPS_PANEL_URL=https://187.127.30.150:8443
VPS_PANEL_USER=admin
VPS_PANEL_PASSWORD=

VPS_HOST=187.127.30.150
VPS_SSH_PORT=22
VPS_SSH_USER=root
VPS_SSH_PASSWORD=
